/*add flex to all childs of the container class*/
body{
    height: 100vh;
    width: 100vw;
    margin: 0;
}

/*add flex to all childs of the container class*/
/*adjust size of window*/
 .container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*set font style*/
/*set padding*/
.container > *{
    font-family: 'Roboto', sans-serif;
    padding-left: 100px;
    padding-right: 100px;
}

/*Make header flex*/
.header{
    display: flex;
    align-items: center;
} 

.container > *{
    flex: 1 1 auto;
}


/*style header logo */
.logo{
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

/*style header links*/
.links-right{
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
    margin-left: auto;
    gap: 10px;
}

/*remove bullets*/
li{
    list-style-type: none;
}


/*style content1*/
.content1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.left-1{
    width: 300px;
}
.main-text{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}
.main-subtext{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}
.main-button{
    background-color: #3882F6;
    color: #F9FAF8;
    width: 85px;
    height: 25px;
    border-radius: 5px;
    border: none;
}
.main-image{
    width: 350px;
    height: 200px;
}

/*Add styles to content 2 section*/
.content2{
    padding-top: 50px;
    padding-bottom: 50px;
}
.subcontent {
    display: flex;
    justify-content: center;
}

.subcontent > *{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.subtitle{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.sub-image1,
.sub-image2,
.sub-image3,
.sub-image4{
    width:50px;
    height: 50px;
}

/*Style section3 quoute */
.content3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.quote{
    width: 600px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0;
    padding: 0;
}
.author{
    font-size: 18px;
    width: 600px;
    color: #1F2937;
    margin: 0;
    padding: 0;
    text-align: right;
}

/* Style content 4, call to action */
.content4, .cta-box{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-box{
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 3px;
    width: 800px;
    height: 80px;
    padding: 10px;
}
.left-4{
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: flex-start;
}
.left-4 > p{
    margin: 0;
    padding: 0;
}
.cta-title{
    font-size: 24px;
}
.cta-subtext{
    font-size: 18px;
}
.right-4{
    width: 200px;
    text-align: center;
}
.sign-up4{
    background-color: transparent;
    width: 85px;
    height: 25px;
    border-radius: 3px;
    border-color: #F9FAF8;
    color: #F9FAF8;
    border: solid 2px;

}
/*add background colors*/
.header,
.content1,
.footer{
    background-color: #1F2937;
}
.content2,
.content4{
    background-color: white;
}
.content3{
    background-color: #E5E7EB;
}