/*add flex to all childs of the container class*/
body{
    height: 100vh;
    width: 100vw;
    margin: 0;
}

/*add flex to all childs of the container class*/
 .container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container > *{
    flex: auto;
}
/*add background colors*/
.header,
.content1,
.footer{
    background-color: #1F2937;
}
.content2,
.content4{
    background-color: white;
}
.content3{
    background-color: #E5E7EB;
}